# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eston
DB_USER=postgres
DB_PASSWORD=ADMIN

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=24h

# Server Configuration
PORT=5000
NODE_ENV=development

# Email Configuration (for notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=gmntccnt@gmail.com
EMAIL_PASS=jxmd utsh tmeo exkc

# Frontend URL
CLIENT_URL=http://localhost:3000
